In [84]:
import pandas as pd
from sqlalchemy import create_engine

In [85]:
csv_file = "../Resources/nuforc_reports.csv"
df = pd.read_csv(csv_file)
df.head()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,...,Unnamed: 224,Unnamed: 225,Unnamed: 226,Unnamed: 227,Unnamed: 228,Unnamed: 229,Unnamed: 230,Unnamed: 231,Unnamed: 232,Unnamed: 233
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15T18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# Lets take a look at what we are starting with
for col in df.columns: 
    print(col)

summary
city
state
date_time
shape
duration
stats
report_link
text
posted
city_latitude
city_longitude
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56
Unnamed: 57
Unnamed: 58
Unnamed: 59
Unnamed: 60
Unnamed: 61
Unnamed: 62
Unnamed: 63
Unnamed: 64
Unnamed: 65
Unnamed: 66
Unnamed: 67
Unnamed: 68
Unnamed: 69
Unnamed: 70
Unnamed: 71
Unnamed: 72
Unnamed: 73
Unnamed: 74
Unnamed: 75
Unnamed: 76
Unnamed: 77
Unnamed: 78
Unnamed: 79
Unnamed: 80
Unnamed: 81
Unnamed: 82
Unnamed: 83
Unnamed: 84
Unnamed: 85
Unnamed: 86
Unnamed: 87
Unnamed: 88
Unnamed: 89
Unnamed: 90
Unnamed: 91
Unnamed: 92
Unnamed: 93
Unnamed: 94
Unnamed: 95
Unnamed: 96
Unnamed: 97
Unnamed: 98
Unnamed: 99
Unnamed: 100
Unnamed: 101
Unnamed: 102
Unnamed: 103
Unnamed: 104
Unnamed: 105
Unnamed: 106
Unnamed: 107
Unnamed: 108
Unnamed: 109
Unnamed: 110
Unnamed: 111
Unnamed: 112
Unnamed: 113
Unnamed: 114
Unnamed: 115
Unnamed: 116
Unnamed: 117
Unnamed: 118
Unnamed: 119
Unnamed: 120
Unnamed: 121
Unnamed: 122
Unnamed: 123
Unnamed: 124
Unnamed: 125
Unnamed: 126
Unnamed: 127
Unnamed: 128
Unnamed: 129
Unnamed: 130
Unnamed: 131
Unnamed: 132
Unnamed: 133
Unnamed: 134
Unnamed: 135
Unnamed: 136
Unnamed: 137
Unnamed: 138
Unnamed: 139
Unnamed: 140
Unnamed: 141
Unnamed: 142
Unnamed: 143
Unnamed: 144
Unnamed: 145
Unnamed: 146
Unnamed: 147
Unnamed: 148
Unnamed: 149
Unnamed: 150
Unnamed: 151
Unnamed: 152
Unnamed: 153
Unnamed: 154
Unnamed: 155
Unnamed: 156
Unnamed: 157
Unnamed: 158
Unnamed: 159
Unnamed: 160
Unnamed: 161
Unnamed: 162
Unnamed: 163
Unnamed: 164
Unnamed: 165
Unnamed: 166
Unnamed: 167
Unnamed: 168
Unnamed: 169
Unnamed: 170
Unnamed: 171
Unnamed: 172
Unnamed: 173
Unnamed: 174
Unnamed: 175
Unnamed: 176
Unnamed: 177
Unnamed: 178
Unnamed: 179
Unnamed: 180
Unnamed: 181
Unnamed: 182
Unnamed: 183
Unnamed: 184
Unnamed: 185
Unnamed: 186
Unnamed: 187
Unnamed: 188
Unnamed: 189
Unnamed: 190
Unnamed: 191
Unnamed: 192
Unnamed: 193
Unnamed: 194
Unnamed: 195
Unnamed: 196
Unnamed: 197
Unnamed: 198
Unnamed: 199
Unnamed: 200
Unnamed: 201
Unnamed: 202
Unnamed: 203
Unnamed: 204
Unnamed: 205
Unnamed: 206
Unnamed: 207
Unnamed: 208
Unnamed: 209
Unnamed: 210
Unnamed: 211
Unnamed: 212
Unnamed: 213
Unnamed: 214
Unnamed: 215
Unnamed: 216
Unnamed: 217
Unnamed: 218
Unnamed: 219
Unnamed: 220
Unnamed: 221
Unnamed: 222
Unnamed: 223
Unnamed: 224
Unnamed: 225
Unnamed: 226
Unnamed: 227
Unnamed: 228
Unnamed: 229
Unnamed: 230
Unnamed: 231
Unnamed: 232
Unnamed: 233

In [87]:
df2 = df.loc[:, ~df.columns.str.contains('^Unnamed')]
print(df2.count())
df2.head()

summary           88096
city              87892
state             82891
date_time         86939
shape             85628
duration          84955
stats             88089
report_link       88126
text              88071
posted            86939
city_latitude     72013
city_longitude    72013
dtype: int64

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.3432,-77.4086
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.6648,-72.6393
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.3814,-75.7085
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15T18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,NaN,NaN

In [88]:
#drop unneeded columns
df3= df2.drop(['stats','report_link','text'], axis=1).dropna()
print(df3.count())
df3.head()

summary           67800
city              67800
state             67800
date_time         67800
shape             67800
duration          67800
posted            67800
city_latitude     67800
city_longitude    67800
dtype: int64

,summary,city,state,date_time,shape,duration,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,2019-12-22T00:00:00,37.3432,-77.4086
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,2019-03-29T00:00:00,41.6648,-72.6393
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,2019-04-18T00:00:00,45.3814,-75.7085
5,"The object has flashing lights that are green,...",Kirbyville,TX,2019-04-02T20:25:00,disk,15 minutes,2019-04-08T00:00:00,30.6772,-94.0052
6,Description is the same as Washington DC event...,Tucson,AZ,2019-05-01T11:00:00,unknown,5 minutes,2019-05-09T00:00:00,32.2599,-110.928

In [89]:
#remove duplicates
df3.drop_duplicates(subset=None, keep='first', inplace=True)
print(df3.count())
df3.head()

summary           67742
city              67742
state             67742
date_time         67742
shape             67742
duration          67742
posted            67742
city_latitude     67742
city_longitude    67742
dtype: int64

,summary,city,state,date_time,shape,duration,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,2019-12-22T00:00:00,37.3432,-77.4086
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,2019-03-29T00:00:00,41.6648,-72.6393
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,2019-04-18T00:00:00,45.3814,-75.7085
5,"The object has flashing lights that are green,...",Kirbyville,TX,2019-04-02T20:25:00,disk,15 minutes,2019-04-08T00:00:00,30.6772,-94.0052
6,Description is the same as Washington DC event...,Tucson,AZ,2019-05-01T11:00:00,unknown,5 minutes,2019-05-09T00:00:00,32.2599,-110.928

In [90]:
#only US States
aliens_df= df3[\
(df3['state']=='AL')|(df3['state']=='AK')|(df3['state']=='AZ')\
|(df3['state']=='AR')|(df3['state']=='CA')|(df3['state']=='CO')\
|(df3['state']=='CT')|(df3['state']=='DE')|(df3['state']=='FL')\
|(df3['state']=='GA')|(df3['state']=='HI')|(df3['state']=='ID')\
|(df3['state']=='IL')|(df3['state']=='IN')|(df3['state']=='IA')\
|(df3['state']=='KS')|(df3['state']=='KY')|(df3['state']=='LA')\
|(df3['state']=='ME')|(df3['state']=='MD')|(df3['state']=='MA')\
|(df3['state']=='MI')|(df3['state']=='MN')|(df3['state']=='MS')\
|(df3['state']=='MO')|(df3['state']=='MT')|(df3['state']=='NE')\
|(df3['state']=='NV')|(df3['state']=='NH')|(df3['state']=='NJ')\
|(df3['state']=='NM')|(df3['state']=='NY')|(df3['state']=='NC')\
|(df3['state']=='ND')|(df3['state']=='OH')|(df3['state']=='OK')\
|(df3['state']=='OR')|(df3['state']=='PA')|(df3['state']=='RI')\
|(df3['state']=='SC')|(df3['state']=='SD')|(df3['state']=='TN')\
|(df3['state']=='TX')|(df3['state']=='UT')|(df3['state']=='VT')\
|(df3['state']=='VA')|(df3['state']=='WA')|(df3['state']=='WV')\
|(df3['state']=='WI')|(df3['state']=='WY')]
aliens_df

,summary,city,state,date_time,shape,duration,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,2019-12-22T00:00:00,37.3432,-77.4086
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,2019-03-29T00:00:00,41.6648,-72.6393
5,"The object has flashing lights that are green,...",Kirbyville,TX,2019-04-02T20:25:00,disk,15 minutes,2019-04-08T00:00:00,30.6772,-94.0052
6,Description is the same as Washington DC event...,Tucson,AZ,2019-05-01T11:00:00,unknown,5 minutes,2019-05-09T00:00:00,32.2599,-110.928
7,Apr. 10th we witnessed a very bright silvery r...,Gold Canyon,AZ,2019-04-10T17:00:00,circle,10 minutes,2019-04-25T00:00:00,33.3715,-111.437
...,...,...,...,...,...,...,...,...,...
88120,there was a stationary orange light in the eas...,Morgan City,LA,2019-10-02T19:15:00,light,2 minutes,2019-10-04T00:00:00,29.6997,-91.0691
88121,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02T20:00:00,formation,3 minutes,2019-10-04T00:00:00,33.414,-111.921
88122,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02T20:00:00,light,20 seconds,2019-10-04T00:00:00,37.6422,-93.3996
88123,I just witnessed a â€˜Phoenix Lightsâ€™ type of fo...,North Port,FL,2019-10-02T20:03:00,formation,20 seconds,2019-10-04T00:00:00,27.0762,-82.2233
88124,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02T22:00:00,fireball,2 minutes,2019-10-04T00:00:00,35.605,-82.3132